12 лаба/name.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SPECIALIZATION">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="nameun" type="xs:string"/>
            <xs:element name="ball" type="xs:string"/>
            <xs:element name="plan" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="FACULTY">
      <xs:sequence>
         <xs:element name="SPECIALIZATION" type="xs:string"/>
      </xs:sequence>
   </xs:element>
</xs:schema>
